<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css_files/original_styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Noto+Sans:ital@0;1&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Noto+Sans:ital@0;1&family=Work+Sans:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Noto+Sans:ital@0;1&family=Poppins&family=Work+Sans:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo">ELAA</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="/designs.html" class="navbar__links">Designs</a>
                </li>
                <li class="navbar__item">
                    <a href="/templates" class="navbar__links">Templates</a>
                </li>
                <li class="navbar__btn">
                    <a href="/login" class="button">
                    Login/Sign up
                    </a>
                </li>
            </ul>
        </div>
    </nav>

<div class="main">
    <div class="main__container">

    <div class="form-box">
        <div class="form-value">
            <form action="/login" method="post">
                <h2>Login</h2>
                <div class="input-box">
                    <span>Email</span>
                    <div class="input-icon-container">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="email" name="email" required>
                    </div>
                    
                    
                </div>
                <div class="input-box">
                    <span>Password</span>
                    <div class="input-icon-container">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" name="password" required>
                </div>
                </div>
                <button class="loginbtn" type="submit">Login</button>
                
                <div class="register">
                    <p>Don't have an account? <a href="/signup">Register</a></p>
                </div>
            </form>
        </div>
    </div>

    </div>
</div>
<footer class="footer">
    <div>
        <p>&copy; 2024 ELAA. Capstone Project.</p>
    </div>
</footer>
<script src="app.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>